* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  font-family: "Amazon Ember", sans-serif;
}
body,
html {
  overflow-x: hidden;
}

.font-white {
  font-size: 1.2rem;
  font-weight: bold;
}
img {
  display: block;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.header-bg {
  background-color: #00050d;
  .header-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
  }
  img {
    width: 150px;
    height: 30px;
    color: white;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    display: flex;
    display: flex;
    gap: 45px;
  }
  li {
    list-style: none;
  }
  a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #aaaa9b;
    &:hover {
      color: #fff;
    }
  }
}

.hero {
  background-image: url("/src/img/donniedarko.jpg");
  background-size: cover; /* Muda de cover para contain */
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw; /* 100% da largura da viewport */
  height: 100vh; /* 100% da altura da viewport */
  .container-hero {
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    display: grid;
    align-items: center;
  }
  .content {
    display: grid;
    margin: auto 0;
    h2 {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 30px;
    }
    p {
      font-size: 1.3rem;
      max-width: 75ch;
      line-height: 1.4;
      margin-bottom: 16px;
      font-weight: bold;
    }
  }

  .sub-content {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
  }
  .container-box-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .box-disponivel {
    margin-top: 60px;
    border: 3px solid #4a4b4e;
    padding: 20px 30px;

    p {
      font-size: 1.2rem;
      font-weight: bold;
      max-width: 30ch;
    }
  }

  .box-buttons {
    margin-top: 60px;
    display: flex;
    gap: 10px;
  }
  .ball {
    background-color: #4a4b4e94;
    border-radius: 50%;
    display: flex; /* Alterado para flex */
    align-items: center; /* Adicionado para centralizar verticalmente */
    width: 65px;
    height: 65px;
    cursor: pointer;
    transition: all ease 0.2s;

    &:hover {
      background-color: #fff;
    }
    svg {
      width: 40px;
      height: 40px;
      margin: 0 auto;
      justify-content: center;
      fill: #fff;
      transition: all ease 0.2s;

      &:hover {
        transform: scale(1.1);
        fill: #111;
      }
    }
  }
}
.relacionados {
  img {
    border-radius: 8px;
    /* box-shadow: 22px -24px 69px 26px rgba(0, 0, 0, 0.88) inset;
    -webkit-box-shadow: 22px -24px 69px 26px rgba(0, 0, 0, 0.88) inset;
    -moz-box-shadow: 22px -24px 69px 26px rgba(0, 0, 0, 0.88) inset; */
    opacity: 80%;
    width: 380px;
    height: 200px;
    transition: all ease 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}
.color-bg {
  background-color: #00050d;
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
  .filmes-detalhes {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;

    button {
      background-color: transparent;
      border: none;
      box-shadow: none;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: bold;
    }
    button.ativo {
      border-bottom: 2px solid white;
    }
  }
}
.detalhes {
  display: none;
  gap: 0px;
  padding-top: 100px;

  .box-detalhes {
    display: grid;
    gap: 20px;
    margin-bottom: 100px;
  }
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 100px;

  img {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .footer-menu {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    li {
      list-style: none;

      a {
        color: #4fb8f3;

        &:hover {
          color: #85d2ff;
        }
      }
    }
  }
}
//lembrar usar maxwidth nas imagens do carrossel para ficar mais responsivo
